.portfolio__technologies {
    display: flex;
    flex-direction: column;

    padding: 2rem;
    background: var(--color-footer);

    background: -moz-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);
    background: -webkit-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);
    background: -o-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);
    background: -ms-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);
    background: radial-gradient(circle at 30% -100%, #042c54 25%, rgb(7, 34, 61) 75%, rgb(11, 61, 114) 100%);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.portfolio__technologies-feature .portfolio__technologies-container__feature {
    margin: 0;
}

.portfolio__technologies-feature .portfolio__technologies-container__feature-text {
    max-width: 700px;
}

.portfolio__technologies-heading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    margin: 4rem 0 2rem;
    padding-left: 1rem;
}

.portfolio__technologies-heading h1 {
    font-size: 34px;
    line-height: 45px;
    font-weight: 800;
    max-width: 510px;
    font-family: var(--font-family-primary);

    color: #DDDDDD;
}

.portfolio__technologies-heading p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    font-family: var(--font-family-primary);

    color: var(--color-tritext);
    cursor: pointer;
    padding-top: 0.5rem;
    padding-left: 0.3rem;
}

.portfolio__technologies-heading div {
    width: 38px;
    height: 3px;

    background: var(--gradient-bar);
    box-shadow: 0 4px 4px rega(0, 0, 0, 0.25);
    margin-bottom: 0.25rem
}

.portfolio__technologies-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    margin-top: 2rem;
    padding-left: 2rem;
}

.portfolio__technologies-container img {
    width: 32px;
    height: 40px;
    padding-bottom: 0.5rem;
}

.portfolio__technologies-container div {
    flex: 1;
    padding-right: 1rem;
}

.portfolio__technologies-container .portfolio__features-container__feature {
    flex: 1;
    margin: 1rem;
    min-width: 210px;
    display: unset;
    flex-direction: column;
}

.portfolio__technologies-container .portfolio__features-container_feature-text {
    margin-top: 0.5rem;
}

@media screen and (max-width: 850px) {
    .portfolio__technologies-heading {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0rem;
    }

    .portfolio__technologies-heading p {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 650px) {
    /* Customizing feature component as per needs */
    .portfolio__technologies-feature .portfolio__features-container__feature {
        flex-direction: column;
    }

    /* Customizing feature component as per needs */
    .portfolio__technologies-feature .portfolio__features-container_feature-text {
        margin-top: 0.5rem;
    }

    .portfolio__technologies-heading h1 {
        font-size: 28px;
        line-height: 40px;
    }
}

@media screen and (max-width: 350px) {
    /* Customizing feature component as per needs */
    .portfolio__technologies-container .portfolio__features-container__feature {
        margin: 1rem 0;
        min-width: 100%;
    }
}


