.portfolio__projects {
    display: flex;
    flex-direction: column;
}

.portfolio__projects-heading {
    flex: 3;
    width: 100%;
    text-align: left;

    margin-bottom: 5rem;
}

.portfolio__projects-heading h1 {
    font-family: var(--font-family-primary);
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    color: var(--gradient-text-done);
}

.portfolio__projects-container {
    display: flex;
    flex-direction: row;
}

.portfolio__projects-container_groupA {
    flex: 0.75;
    margin-right: 2rem;
}

.portfolio__projects-container_groupA .portfolio__project-container_project-content {
    justify-content: flex-start;
}

.portfolio__projects-container_groupA .portfolio__project-container_project-content p:last-child {
    padding-top: 11rem;
}

.portfolio__projects-container_groupB {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

@media screen and (max-width: 990px) {
    .portfolio__projects-container {
        flex-direction: column-reverse;
    }

    .portfolio__projects-container_groupA {
        margin: 2rem 0;
    }

    .portfolio__projects-container_groupA .portfolio__project-container_project {
        width: 48%;
    }

    .portfolio__projects-container_groupA .portfolio__project-container_project-image {
        height: 250px;
    }
}

@media screen and (max-width: 700px) {
    .portfolio__projects-container_groupB {
        grid-template-columns: repeat(1, 1fr);
    }

    .portfolio__projects-container_groupA .portfolio__project-container_project {
        width: 100%;
    }

    .portfolio__project-heading h1 {
        font-size: 46px;
        line-height: 52px;
    }
}

@media screen and (max-width: 550px) {
    .portfolio__project-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }
}