.portfolio__achievements-container_achievement {
    display: flex;
    flex-direction: column;
    padding: 0.75rem 1rem;
    cursor: default;

    background-color: #21293b;
    width: 200px;
    height: 110px;
    border-radius: 7px;
}

.portfolio__achievements-container_achievement h1 {
    font-family: var(--font-family-primary); 
    font-size: 32px;
    color: #DDDDDD;
}

.portfolio__achievements-container_achievement p {
    font-family: var(--font-family-primary); 
    font-size: 15px;
    color: var(--color-text);
}